
/* src/pages/Home/style.scss */
.home-container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
  
  }
  
  .home-container h2 {
    margin-bottom: 8px;
    font-size: 24px;
    color: #2c3e50;
  }
  
  .home-container p {
    margin-bottom: 24px;
    font-size: 16px;
    color: #555;
  }
  
  .card-container {
    display: flex;
    gap: 16px;
  }
  .home-warpcenter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    

  }

  